# Going to College Rate

In [2]:
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
print(pd.__version__)
import matplotlib.pyplot as plt
%matplotlib inline

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
1.19.2
1.1.3

In [8]:
cr = pd.read_csv('raw_data/college_going.csv')
cr.columns = cr.columns.str.replace('\s+', '_').str.lower()
cr.columns = cr.columns.str.replace('-', '_')
cr.college_going_rate = cr.college_going_rate.str[:-1]
cr = cr.astype({'college_going_rate': float})

In [9]:
cr.shape

(452, 11)

In [10]:
cr.to_csv('data/5_college_going.csv')

In [11]:
cr.head()

,school_district,name,high_school_completers,high_school_completers_enrolled_in_college,college_going_rate,university_of_california,california_state_university,california_community_college,in_state_private_2__and_4_year_college,out_of_state_4_year_college,out_of_state_2_year_college
0,ABC Unified,ABC Secondary (Alternative),19,1,5.30,0,0,1,0,0,0.00
1,ABC Unified,Artesia High,329,178,54.10,7,67,93,2,8,1.00
2,ABC Unified,Cerritos High,528,417,79.00,76,117,156,32,32,4.00
3,ABC Unified,Gahr (Richard) High,490,328,66.90,21,94,184,12,17,0.00
4,ABC Unified,Tracy (Wilbur) High (Continuation),115,24,20.90,0,0,16,1,6,1.00