# Gradute Rate 2019-20

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline

In [2]:
gr_20 = pd.read_csv('raw_data/graduate_rate_raw.csv')
print(gr_20.shape)
gr_20.columns = gr_20.columns.str.replace('[()]', '').str.replace('/','_').str.replace('\'','').str.replace('\.*\s+', '_').str.lower()
gr_20 = gr_20.loc[np.logical_and(gr_20.reportingcategory == 'TA', gr_20.aggregatelevel == 'S')]
gr_20 = gr_20.loc[np.logical_and(gr_20.charterschool == 'All', gr_20.dass == 'All')]
gr_20 = gr_20[gr_20['countyname'].isin(['Los Angeles', 'Orange'])]
gr_20 = gr_20[gr_20.regular_hs_diploma_graduates_rate != '*']
gr_20 = gr_20.astype({'districtcode': int, 'schoolcode': int, 'regular_hs_diploma_graduates_rate': float})
gr_20 = gr_20[gr_20.schoolcode != 0]
gr_20.to_csv('data/4_graduate_rate.csv', index=False)

(241058, 34)

In [7]:
print(gr_20.head())
print(gr_20.shape)

       academicyear aggregatelevel  countycode  districtcode  schoolcode  \
99795       2019-20              S          19         10199      100776
99863       2019-20              S          19         10199      112128
99931       2019-20              S          19         10199      115030
99998       2019-20              S          19         10199      115212
100099      2019-20              S          19         10199      121897

         countyname                            districtname  \
99795   Los Angeles  Los Angeles County Office of Education
99863   Los Angeles  Los Angeles County Office of Education
99931   Los Angeles  Los Angeles County Office of Education
99998   Los Angeles  Los Angeles County Office of Education
100099  Los Angeles  Los Angeles County Office of Education

                                               schoolname charterschool dass  \
99795   North Valley Military Institute College Prepar...           All  All
99863         Aspire Ollin University Preparatory Academy           All  All
99931                          Magnolia Science Academy 3           All  All
99998                          Magnolia Science Academy 2           All  All
100099                              Central Juvenile Hall           All  All

        ... sped_certificate_count sped_certificate_rate ged_completer_count  \
99795   ...                      0                     0                   0
99863   ...                      0                     0                   0
99931   ...                      0                     0                   0
99998   ...                      0                     0                   0
100099  ...                      0                     0                   0

        ged_completer_rate other_transfer_count other_transfer_rate  \
99795                    0                    2                 2.9
99863                    0                    0                   0
99931                    0                    0                   0
99998                    0                    0                   0
100099                   0                    0                   0

       dropout_count dropout_rate still_enrolled_count still_enrolled_rate
99795              0            0                    2                 2.9
99863              1          1.3                    3                 3.8
99931              2          3.6                    0                   0
99998              2            5                    0                   0
100099            53         70.7                   19                25.3

[5 rows x 34 columns]
(605, 34)

In [11]:
# Import public school data for merging
school = pd.read_csv('data/8_public_school.csv', index_col=False)
print(school.head())

school_trim = pd.DataFrame([school['School Code'], school['Zip Code']]).T
school_trim.columns = ['schoolcode', 'zip']
school_trim.head()

   County Code  District Code  School Code  Filler  Test Year  Type Id  \
0           19          10199       100776     nan       2019        9
1           19          10199       109660     nan       2019        9
2           19          10199       109942     nan       2019        9
3           19          10199       112128     nan       2019        9
4           19          10199       115030     nan       2019        9

   County Name                             District Name  \
0  Los Angeles   North Valley Military Institute College
1  Los Angeles         Aspire Antonio Maria Lugo Academy
2  Los Angeles    Los Angeles International Charter High
3  Los Angeles  Aspire Ollin University Preparatory Acad
4  Los Angeles                Magnolia Science Academy 3

                                         School Name  Zip Code
0  North Valley Military Institute College Prepar...     91352
1                  Aspire Antonio Maria Lugo Academy     90255
2             Los Angeles International Charter High     90042
3        Aspire Ollin University Preparatory Academy     90255
4                         Magnolia Science Academy 3     90746

   schoolcode    zip
0      100776  91352
1      109660  90255
2      109942  90042
3      112128  90255
4      115030  90746

In [14]:
# Merge graduation rate and school zip code
merged = school_trim.merge(gr_20, on='schoolcode')
print(merged.head())
print(merged.shape)

merged.to_csv('data/9_grad_rate_merged.csv', index=False)

   schoolcode    zip academicyear aggregatelevel  countycode  districtcode  \
0      100776  91352      2019-20              S          19         10199
1      109942  90042      2019-20              S          19         77289
2      112128  90255      2019-20              S          19         10199
3      115030  90746      2019-20              S          19         10199
4      115212  91406      2019-20              S          19         10199

    countyname                            districtname  \
0  Los Angeles  Los Angeles County Office of Education
1  Los Angeles  SBE - Los Angeles College Prep Academy
2  Los Angeles  Los Angeles County Office of Education
3  Los Angeles  Los Angeles County Office of Education
4  Los Angeles  Los Angeles County Office of Education

                                          schoolname charterschool  ...  \
0  North Valley Military Institute College Prepar...           All  ...
1                   Los Angeles College Prep Academy           All  ...
2        Aspire Ollin University Preparatory Academy           All  ...
3                         Magnolia Science Academy 3           All  ...
4                         Magnolia Science Academy 2           All  ...

  sped_certificate_count sped_certificate_rate ged_completer_count  \
0                      0                     0                   0
1                      1                   2.7                   0
2                      0                     0                   0
3                      0                     0                   0
4                      0                     0                   0

  ged_completer_rate  other_transfer_count other_transfer_rate dropout_count  \
0                  0                     2                 2.9             0
1                  0                     1                 2.7             4
2                  0                     0                   0             1
3                  0                     0                   0             2
4                  0                     0                   0             2

  dropout_rate still_enrolled_count still_enrolled_rate
0            0                    2                 2.9
1         10.8                    6                16.2
2          1.3                    3                 3.8
3          3.6                    0                   0
4            5                    0                   0

[5 rows x 35 columns]
(508, 35)